<footer>
    <div class="m-backtotop" aria-hidden="true">
        <div class="arrow">
            <i class="fa fa-arrow-up"></i>
        </div>
        <div class="text">
            Back to top
        </div>
    </div>
    <div id="subscribe" class="subscribe-box">
        <h1>Join our Newsletter</h1>
        <p>Get exclusive access when you sign up for our newsletter!</p>
        <form id="subscribe-form" class="" action="/subscribe" method="post">
            <div class="email-box">
                <i class="fas fa-envelope"></i>
                <input class="ebox" type="email" id="email" name="subEmail" placeholder="Enter you email" required>
                <button class="ebtn">Subscribe</button>
            </div>
        </form>
        <div id="success-circle" class="d-none">
            <div class="success m-5">
                <i class="far fa-check-circle"></i>
                <span> Welcome to our family</span>
            </div>
        </div>
        <div id="faliure-circle" class="d-none">
            <div class="failure m-5">
                <i class="far fa-sad-tear"></i>
                <span> Something Went Worng!!! Please TryAgain</span>
            </div>
        </div>
        <div id="social-footer" class="text-center">

            <!-- <a class="sc-icon mx-3" title="Facebook" target="_BLANK"
                href="https://www.facebook.com/Concepts-Company-103225694357670">
                <i class="fab fa-facebook-f"></i>
            </a> -->
            <a class="sc-icon mx-3" title="Instagram" target="_BLANK"
                href="https://www.instagram.com/concepts_company/">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="sc-icon mr-3" title="Skype" target="_BLANK" href="https://join.skype.com/invite/nT3hmhBjNDSB">
                <i class="fab fa-skype"></i>
            </a>
            <a class="sc-icon mr-3" title="Skype" target="_BLANK" href="https://wa.me/+919717456868">
                <i class="fab fa-whatsapp"></i>
            </a>

            <!-- <a class="sc-icon" title="flipkart" target="_BLANK"
                href="https://www.flipkart.com/bags-wallets-belts/handbags-clutches/sling-bags/dc-concepts~brand/pr?sid=reh,ihu,mf2&marketplace=FLIPKART&otracker=product_breadCrumbs_DC+CONCEPTS+Sling+Bags">
                <img class="img-fluid" src="/public/img/flipkart.png" alt="">
            </a> -->

            <!-- <a class="sc-icon mx-3" title="Linked In" target="_BLANK"
                href="https://www.linkedin.com/in/dctyagiconceptsco">
                <i class="fab fa-linkedin-in"></i>
            </a> -->

            <!-- <a class="sc-icon" title="Amazon" target="_BLANK"
                href="https://www.amazon.in/s?rh=n%3A1571283031%2Cp_4%3ADC+CONCEPTS&ref=bl_sl_s_sh_web_1571283031">
                <img class="img-fluid mx-3" src="/public/img/amazon.png" alt="">
            </a> -->
        </div>
    </div>
    <div class="container text-center text-md-left pt-4 pt-md-5">
        <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                <h5>About me</h5>
                <hr class="under-bar-color mb-4 mt-0  ">
                <p class="mb-0">A first-generation businessman is descending from a lineage of farmers. I couldn't be more proud of being born with this. Honesty and hard workflows in my veins naturally and undoubtedly never forgetting my commitments. I'm always stood up for any demanding task given a chance would prove it anytime.</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                <h5>Products</h5>
                <hr class="under-bar-color mb-4 mt-0">
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/collection/apparel">Apparel</a>
                    </li>
                    <li class="mb-2">
                        <a href="/collection/accessories">Accessories</a>
                    </li>
                    <li class="mb-2">
                        <a href="/collection/jewellery">Jewellery</a>
                    </li>
                    <li class="mb-2">
                        <a href="/collection/handbag">Handbag</a>
                    </li>
                    <li class="mb-2">
                        <a href="/collection/home">Home</a>
                    </li>
                    <li class="mb-2">
                        <a href="/collection/all">View All</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                <h5>Useful links</h5>
                <hr class="under-bar-color mb-4 mt-0">
                <ul class="list-unstyled foot-desc">
                    <li class="mb-2">
                        <a href="/#collections">Collection</a>
                    </li>
                    <li class="mb-2">
                        <a href="/about">About Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="#subscribe">Join our News Letter</a>
                    </li>
                    <li class="mb-2">
                        <a href="/contact">Explore</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                <h5>Contacts</h5>
                <hr class="under-bar-color mb-4 mt-0">
                <ul class="fa-ul foot-desc ml-4">
                    <li class="mb-2">
                        <a href="tel:+919717456868"><span class="fa-li"><i class="fas fa-phone-alt"></i></span> Call
                            us!</a>
                    </li>
                    <li class="mb-2">
                        <a href="mailto:dc@concept-sourceinc.com"><span class="fa-li"><i
                                    class="far fa-envelope"></i></span>Mail us!</a>
                    </li>
                    <li>
                        <span class="fa-li"><i class="far fa-clock"></i></span>Mon - Sat : 9
                        AM - 6 PM
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        <a href="mailto:dc@concept-sourceinc.com">Copyright © 2006 - 2021
            <strong>Concepts Source Inc</strong> All Rights Reserved.
        </a>
    </div>
</footer>