<header>
  <div class="navigation-wrap bg-light start-header start-style">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light">
          <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
              <div class="logo-border">
                <img class="img-fluid logo-img" src="/public/img/logo.png" alt="CSI" />
              </div>

              <span class="brand-name">Concept's</span>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="/collection/all"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Collection</a
                  >
                  <div class="dropdown-menu text-center">
                    <a class="dropdown-item" href="/collection/all">View All</a>
                    <a class="dropdown-item" href="/collection/apparel"
                      >Apparel</a
                    >
                    <a class="dropdown-item" href="/collection/accessories"
                      >Accessories</a
                    >
                    <a class="dropdown-item" href="/collection/jewellery"
                      >Jewellery</a
                    >
                    <a class="dropdown-item" href="/collection/handbag"
                      >Handbag</a
                    >
                    <a class="dropdown-item" href="/collection/home">Home</a>
                  </div>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="/about">About us</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>

              <hr class="d-md-none" />
              <span class="d-md-none">Connect with us:</span>
              <div class="social-header-links">
                <!-- <a title="Facebook" target="_BLANK"
                                    href="https://www.facebook.com/Concepts-Company-103225694357670">
                                    <i class="fab fa-facebook-square"></i>
                                </a> -->
                <a
                  title="Instagram"
                  target="_BLANK"
                  href="https://www.instagram.com/concepts_company/"
                >
                  <i class="fab fa-instagram-square"></i>
                </a>
                <!-- <a title="Linked In" target="_BLANK"
                                    href="https://www.linkedin.com/in/dctyagiconceptsco">
                                    <i class="fab fa-linkedin"></i>
                                </a> -->
                <a
                  title="Skype"
                  target="_BLANK"
                  href="https://join.skype.com/invite/nT3hmhBjNDSB"
                >
                  <i class="fab fa-skype"></i>
                </a>
                <a
                  title="WhatsApp"
                  target="_BLANK"
                  href="https://wa.me/+919717456868"
                >
                  <i class="fab fa-whatsapp"></i>
                </a>
                <a
                  class="sc-icon"
                  title="Global Sources"
                  target="_BLANK"
                  href="https://concepts.manufacturer.globalsources.com/si/6008825956496/Homepage.htm"
                >
                  <img class="img-fluid" src="/public/img/gs-icon.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
