<% layout('layouts/manager') -%>

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">Subscribers</h1>
            <p class="lead">Here you can manage the concepts Source Inc.</p>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive w-75 mx-auto">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < result.length; i++){ %>
                    <% let row= result[i]; %>
                    <tr>
                        <td><%= row.id %> </td>
                        <td><%= row.email  %> </td>
                        <td class=" d-flex justify-content-center">
                            <button type="button" class="sub-del-btn btn btn-outline-danger btn-block" value="<%= row.id %>">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>